{% extends "base.html" %}
{% block content %}
<style>
  .body {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
  }

  .card {
    position: relative;
    background: #f0f0f0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    height: 400px;
    width: 400px;
  }

  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  .profile-pic {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .profile-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .details {
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card:hover .details {
    opacity: 1;
    transform: translateY(0);
  }

  .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 4px 0;
  }

  .title {
    font-size: 1.1rem;
    color: #ff4d94;
  }

  .occupation {
    font-size: 1.1rem;
    color: #e0e0e0;
    margin-bottom: 6px;
  }

  .institution,
  .telephone {
    font-size: 1.0rem;
    color: #ccc;
    margin-bottom: 2px;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }
</style>
<div class="body">
  {% for prof in profs %}
  <div class="card">
    <div class="profile-pic">
      <img src="{{prof.profile_pic.url}}" alt="Profile Picture" />
    </div>
    <div class="details">
      <div class="name">{{prof.name}}</div>
      <div class="title">{{prof.title}}</div>
      <div class="occupation">{{prof.occupation}}</div>
      <div class="institution">
        {{prof.institution}}
      </div>
      <div class="telephone">
        {{prof.telephone}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
