{% extends 'base.html' %}

{% block content %}
<style>
  .job-detail-container {
    max-width: 700px;
    margin: 80px auto 40px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align content */
  }

  .job-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .job-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
  }

  .job-company,
  .job-date,
  .job-contact,
  .job-telephone {
    font-size: 16px;
    margin-bottom: 15px;
    color: #888;
  }

  .job-contact strong {
    font-weight: bold;
    color: #333;
  }

  .job-contact a {
    color: #007bff;
    text-decoration: none;
  }

  .action-btns {
    margin-top: 30px;
  }

  .action-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    transition: background-color 0.3s;
  }

  .action-btn:hover {
    background-color: #0056b3;
  }
</style>

<div class="job-detail-container">
  <h1 class="job-title">{{ job.title }}</h1>
  <p class="job-description">{{ job.description }}</p>
  <p class="job-company">Company Name: {{ job.company }}</p>
  <p class="job-date">Date Posted: {{ job.date }}</p>
  <p class="job-contact">Contact Info: <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></p>
  <p class="job-telephone">Telephone: {{ job.telephone }}</p>

  {% if request.user.is_superuser %}
  <div class="action-btns">
    <a href="{% url 'delete_job' job.pk %}" class="action-btn">Delete</a>
    {% if not job.confirm_job %}
      <a href="{% url 'confirm_job' job.pk %}" class="action-btn">Confirm Job</a>
    {% endif %}
    <a href="{% url 'download' job.pk %}" class="action-btn" download>Download Certificate</a>
  </div>
  {% endif %}
</div>
{% endblock %}
