{% extends "base.html" %}

{% block content %}
<style>
  .job-item {
    border: 1px solid #e6e6e6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #444;
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 8px;
  }

  .job-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .job-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .job-company {
    font-size: 14px;
    font-weight: 500;
    color: #666;
  }

  .job-grid-container {
    margin-top: -10px;
  }

  .job-grid-container::after {
    content: "";
    display: table;
    clear: both;
  }

  .job-grid-content {
    margin-top: 40px;
  }

  .search-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  .search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .search-btn:hover {
    background-color: #0056b3;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination-item {
    margin-right: 5px;
  }

  .pagination-prev,
  .pagination-next {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .pagination-item.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
</style>

<div class="container job-grid-content">
  <div class="search-bar-container">
    <form class="search-bar" action="{% url 'search_list' %}" method="get">
      <input type="text" name="search" class="search-input" placeholder="Search...">
      <button type="submit" class="search-btn">Search</button>
    </form>
  </div>

  <div class="row job-grid-container">
    {% for job in page %}
      <div class="col-md-3 mb-4">
        <div class="job-item">
          <h2 class="job-title">{{ job.title }}</h2>
          <p class="job-company">Company: {{ job.company }}</p>
          <p>
            <a href="{% url 'detailed_job' job.pk %}" target="_blank">Learn More</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container" style="margin-bottom: 20px;">
  <div class="pagination-container">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="pagination-item">
          <a href="?page=1" class="pagination-prev">&laquo; First</a>
        </li>
        <li class="pagination-item">
          <a href="?page={{ page.previous_page_number }}" class="pagination-prev">Previous</a>
        </li>
      {% endif %}

      {% for num in page.paginator.page_range %}
        <li class="pagination-item {% if num == page.number %}active{% endif %}">
          <a href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}

      {% if page.has_next %}
        <li class="pagination-item">
          <a href="?page={{ page.next_page_number }}" class="pagination-next">Next</a>
        </li>
        <li class="pagination-item">
          <a href="?page={{ page.paginator.num_pages }}" class="pagination-next">&raquo; Last</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock content %}
