{% extends "base.html" %}

{% block content %}
<style>
  .job-item {
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    color: #444; /* Set the text color to a dark gray */
    background-color: #f9f9f9; /* Set a light background color */
    width: 300px; /* Set a fixed width for each job item */
    border-radius: 8px;
  }

  /* Style the links within the job items to be easily visible */
  .job-item a {
    color: #007bff; /* Set link color to a blue shade */
    text-decoration: none;
    font-weight: bold;
  }

  /* Make the title bolder and bigger */
  .job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Style the description text */
  .job-description {
    font-size: 16px;
    font-weight: 400; /* Use a regular font weight */
    line-height: 1.5; /* Increase line height for better readability */
    margin-bottom: 15px;
  }

  /* Style the company name */
  .job-company {
    font-size: 14px;
    font-weight: 500; /* Use a medium font weight */
    color: #666; /* Set the text color to a darker gray */
  }
</style>

<div class="container">
  <div class="row">
    {% for job in pending_list %}
      <div class="job-item">
        <h2 class="job-title">{{ job.title }}</h2>
        <p class="job-description">{{ job.description }}</p>
        <p class="job-company">Company Name: {{ job.company }}</p>
        <p>
        <a href="{% url 'detailed_job' job.pk %}" target="_blank">Learn More</a>
        </p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
